*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}

header{
    background-image: linear-gradient(180deg,#ee82ee,  #ffffff);
    margin: auto;
    padding: 20px;
    text-align: center;
    transition-duration: 1s;
}

main{
    border: 1px solid #000000;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    transition-duration:1s ;
}

main h1{
    padding: 15px;
    
}

main p{
    text-indent: 2em;
    line-height: 25px;
    padding: 10px;
}

#capa{
    width: 300px;
    display: block;
    margin: auto;
    padding: 20px;
      
}

nav{
    padding: 10px;
}

nav a{
    padding: 10px;
    text-decoration: none;
    color:rebeccapurple ;
    font-weight: bold;
    transition-duration: .8s;
}

nav a:hover{
    background-color: violet;
    border-radius: 5px;
}

nav a:visited{
    color: gray;
}

p br{
    padding: 20px;
    
}